@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body {
   font-family: 'Quicksand', sans-serif;
   margin: 0;
   padding: 0;
}

main {
   padding: 20px;
   overflow: auto;
}

h2 {
   color: #604d53;
}
 
h3 {
   color: #604d53;
}

footer {
   padding: 20px;
   color: white;
   background-color: #db7f8e;
   text-align: center;
   font-weight: bold;
   list-style: none;
}

footer li {
   list-style: none;
}

nav a {
   font-size: 18px;
   font-weight: 400;
   text-decoration: none;
}

nav a:hover {
   font-weight: bold;
   color: #9da3a4;
}

.profile header {
   text-align: center;
}

.featured-image {
   width: 100%;
   max-height: 300px;
   object-fit: cover;
   object-position: center;
}

.profile img {
   width: 200px;
}

.card {
   border-radius: 10px;
   padding: 20px;
   margin-top: 20px;
   background-color: #ffdbda;
}

.card-nocolor {
   border-radius: 10px;
   padding: 20px;
   margin-top: 20px;
   background-color: white;
}

.jumbotron {
   font-size: 20px;
   padding: 60px;
   background-color: #db7f8e;
   text-align: center;
   color: white;
}

nav li {
   display: inline;
   list-style-type: none;
   margin-right: 20px;
}

nav {
   background-color: #ffdbda;
   padding: 5px;
   position: sticky;
   top: 0;
}

nav a {
   font-size: 18px;
   font-weight: 400;
   text-decoration: none;
   color: #604d53;
}

.container {
   width: 1170px;
   padding: 0 15px;
   margin: 0 auto;
 }
 
 .top-wrapper {
   padding: 180px 0 100px 0;
   background-image: url("C:/Users/USER/Downloads/WebSubmission/assets/images/woman1.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-color: #ffdbda;
   text-align: center;
 }
 
 .top-wrapper h1 {
   font-size: 45px;
   letter-spacing: 5px;
   margin-bottom: 10px;
 }
 
 .top-wrapper p {
   margin-bottom: 3px;
 }

#content {
   float: left;
   width: 75%;
}

aside {
   float: right;
   width: 25%;
   padding-left: 20px;
}

* {
   box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
   #content,
   aside {
       width: 100%;
       padding: 0;
   }
}

header {
   display: inline;
}

.container-row  {
   display: flex;
   flex-direction: column;
   width: auto;
   height: 100px;
   border: 1px #9da3a4;
   padding: 20px;
   border-radius: 10px;
   margin: 0 auto;
}

.container-row  {
   display: flex;
   flex-direction: row;
   width: auto;
   height: 100px;
   background-color: white;
   border: 1px #9da3a4;
   padding: 20px;
   border-radius: 10px;
   margin: 0 auto;
}

.box  {
   flex-grow: 1;
   background-color: white;
   margin: 5px;
   border: 1px #9da3a4;
   border-radius: 10px
}


.logo{
   object-fit:contain;
            width:200px;
            height:250px;
            border: 1px
}

.slideshow-container {
   max-width: 1000px;
   position: relative;
   margin: auto;
 }
 
 .mySlides {
   display: none;
 }
 
 .prev, .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: auto;
   margin-top: -22px;
   padding: 16px;
   color: white;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
 }
 
 .next {
   right: 0;
   border-radius: 3px 0 0 3px;
 }
 
 .prev:hover, .next:hover {
   background-color: rgba(0,0,0,0.8);
 }
 
 .text {
   color: #f2f2f2;
   font-size: 15px;
   padding: 8px 12px;
   position: absolute;
   bottom: 8px;
   width: 100%;
   text-align: center;
 }
 
 .dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
 }
 
 .active, .dot:hover {
   background-color: #717171;
 }
 
 .fade {
   -webkit-animation-name: fade;
   -webkit-animation-duration: 1.5s;
   animation-name: fade;
   animation-duration: 1.5s;
 }
 
 @-webkit-keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }
 
 @keyframes fade {
   from {opacity: .4}
   to {opacity: 1}
 }